extends ./templates/layout.pug
block content
  h1.text-center De Ducktrail Tour App
  img.center(src="/img/frontpage.jpg")
  .container
    h3.text-center.
      Welkom bij de Ducktrail tour App
  .container
    p.mt-4.
      Klik in het menu op #[a(href="/tour") Nieuwe Tour].
    p.mt-2.
      Je kunt dan de eenden selecteren voor deze tour, de naam van de klant opgeven en selecteren welke formulieren je wilt afdrukken.
    ul
      li.font-weight-bold Antwoordformulieren
        .font-weight-normal
          p.
            Dit zijn de formulieren voor op de vooruit van de eenden, achter de ruitenwisser.
            </br>Er wordt voor elke geselecteerde eend een formulier met de naam van de eend afgedrukt.
            </br>Je kun verder aangeven
      ul.duck
        li of je ze wilt afdrukken
        li of je de teamnummers ook op het formulier wilt afdrukken
        li of er sap en/of kaas wordt geproefd
        li of Eendologie meegaat (dan wordt er nog een extra tabelletje op het formulier gezet)
        li in welke taal je de antwoordformulieren wilt afdrukken
      li.font-weight-bold Tourformulieren
        .font-weight-normal
          p.
            Dit zijn de formulieren voor de tourleaders.
            </br>Op de meeste van deze formulieren worden alle namen van de geselecteerde eenden afgedrukt.
            </br>Je kun verder aangeven
      ul.duck
        li hoeveel spellen er worden gespeeld (Labyreend, Cabrio, BFP etc), dus hoeveel scoreformulieren er nodig zijn
        li of je een totaalformulier wilt afdrukken
        li of je een telefoonlijst wilt afdrukken
      li Daarnaast kun je ook nog 'A4' selecteren om A4 vellen af te drukken met het teamnummer
      li.font-weight-bold Afdrukken
      li Als je alles heb ingesteld, druk je op afdrukken en de geselecteerde papieren worden afgedrukt.
      li.
        Als er meer dan 17 eenden meegaan worden de scoreformulier en de telefoonlijst dubbelzijdig afgedrukt, </br>
        als de printer hierop staat ingesteld.
