extends ./templates/layout.pug
block content
  h1.text-center Welkom bij Ducktrail
  img.center(src="/img/frontpage.jpg")
  h2.text-center Dit is de Ducktrail Tour App
  h3.text-center Heb je er een beetje zin in?</br>
  p.text-center Klik op #[a(href="/tour") Nieuwe tour] in het menu
  p.text-center Of lees eerst de #[a(href="/about") instructies]
    
  
