extends ./templates/layout.pug
block content
  h1.text-center Nieuwe tour
  .container#ducklist
    .container
      .row
        .col-4.border
          h3.text-center Kies eend(en)
            span  ({{sortedDucks.length}})
          ul
            li.rand(v-for= "eend in sortedDucks" v-if="eend.chosen===false" @click="toggleChosen(eend)")
              | {{ eend.name }}  
              span(v-if="eend.isofix") (isofix)
        //-  prevent subit, let Vue handle this instead of: method="POST" action="/antwform"
        form(id="tourform" @submit.prevent="submit").col-8
          .row
            .col-6.border
              h3.text-center Geselecteerd
                span  ({{ducksChosen.length}})
              ol
                li.rand(v-for= "eend in ducksChosen" @click="toggleChosen(eend)")
                  | {{ eend.name }}  
                  span(v-if="eend.isofix") (isofix)
              //- input(type="select" name="ducklist" multiple="multiple" hidden)
            .col-6.border
              h3.text-center Tourformulieren
              .container.border.mt-2
                .row
                  h5.text-center Datum: #{moment().format('ddd d MMMM YYYY')}
                .row 
                  .col-3
                    p Bedrijf/Klant
                  .col-9
                    input.ml-2.form-control(type="text" name="customerName")
              .container.border.mt-2
                .row
                  h5 Antwoord formulieren (klant)
                .row
                  .col-6
                    p Afdrukken:
                      input.ml-2(type="checkbox" name="printAnswerForms")
                  .col-6
                    p.text-right incl teamnrs: 
                      input.ml-2(type="checkbox" name="TeamNrs")
              .container.border.mt-2
                .row
                  h5 Opdrachten:
                .row
                  .col-4
                    p.text-center Kaas:
                      input.ml-3(type="checkbox" name="Cheese")
                  .col-3
                    p.text-center Sap:
                      input.ml-2(type="checkbox" name="Juice")
                  .col-5
                    p.text-right Eendelogie:
                      input.ml-2(type="checkbox" name="Duckology")
              .container.border.mt-2
                .row
                  h5 Taal:
                    select.ml-2(name="language")
                      option(v-for="lang in languages") {{ lang }}
              .container.border
                .row
                  h5 Tourleader formulieren
                .row
                  .col-6
                    p Aantal spellen:
                      input.ml-2.flat(
                        type='number'
                        name='games' 
                        min='0' 
                        max='6' 
                        value='1')
                  .col-6
                    p.text-right Totaalformulier:
                      input.ml-2(type="checkbox" name="totalForm")
                .row
                  .col-6
                    p A4 nummers:
                      input.ml-2(type="checkbox" name="A4")
                  .col-6
                    p.text-right Telefoonlijst:
                      input.ml-2(type="checkbox" name="TelList")
                
              button(type="submit").mt-4.btn.btn-primary.btn-block.
                Afdrukken 
block scripts
  script(src="/scripts/chooseDuck.js")
  
