body {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

h1, h2, h3{
  color: navy;

}

h5 {
  padding-left: 15px;
}
input.flat, textarea.flat {
  -webkit-transform-style: flat !important;
}

.col-2, .col-3, .col-4, .col-5, .col-6 {
}

.card, .card-title, .card-text {
  padding: 0px;
  margin: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul {
  list-style-type: none;
}

ul, ol, li {
  margin: 0;
  padding: 0px;
}

li {
  /* font: 200 20px/1.5 Helvetica, Verdana, sans-serif; */
}

li:first-child {
  /* border-top:  1px solid #ccc; */
}

p {
  margin-bottom: 0px;
}
.rand {
  border: 1px solid #ccc;
  padding: 0 0 0 10px;
}

li:before {
   float: left;
   counter-increment: cnt;
   max-height: 100%;
   width: 29px;
   border: 1px solid transparent;
   margin-top: -.1em;
}
.container#ducklist {
  /* height: 600px; */
}
.footer {
  background-color: yellow;
  color: red;
  border: 1px solid blue;
  text-align: center;
  width: 100%;
  height: 20px;
}
.footer a{
  color: red;
}


ul.duck li:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-image: url('/img/duck.png');
  background-repeat: no-repeat;
  margin-right: 10px;
  padding: 10px;
}

li.rand {
  text-decoration: none;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
li.rand:hover {
  font-size: 1.2em;
  background: #f6f6f6;
}

.navbar {
  background-color: #e74c3c;
}
.navbar .navbar-brand {
  color:  #f7df00;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f0fc00;
}
.navbar .navbar-text {
  color: #f7df00;
}
.navbar .navbar-text a {
  color:  #f7df00;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #f7df00;
}
.navbar .navbar-nav .nav-link {
  color: #f7df00;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #f0fc00;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #f0fc00;
  background-color: #e30829
}
.navbar .navbar-toggle {
  border-color: #f0fc00
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f0fc00
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f7df00;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f7df00;
}
.navbar .navbar-link {
  color:  #f7df00;
}
.navbar .navbar-link:hover {
  color: #f0fc00;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f7df00;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f0fc00;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f0fc00;
    background-color: #f0fc00
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f7df00;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f0fc00;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f0fc00;
    background-color: #f0fc00
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f7df00;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f0fc00;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f0fc00;
    background-color: #f0fc00
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f7df00;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f0fc00;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f0fc00;
    background-color: #f0fc00
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f7df00;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #f0fc00;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #f0fc00;
  background-color: #f0fc00
}
