- var j = new Date()
- var jaarnu = j.getFullYear().toString()
if jaarnu != '2019'
	- jaarnu = '2019 - ' + jaarnu
footer.footer
	p © #{jaarnu} 
		a(href="http://www.jota.nl" target="_blank") Jota Computer Assistentie 
